  html { height: 100%; }
  body {
    background-color: rgb(40,40,40);
    margin: 0;
    padding: 0;
    font-family: Futura,Helvetica,Arial,san-serif;
    color: #eee;
    overflow: hidden;
    height: 100%;
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 .slide {
   position: absolute;
   top: 0;
   color: #eee;
   overflow: hidden;
 }

.slide.transition, .sub-slide.transition {
  -webkit-transition: left .15s ease;
}

.slide .head {
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  margin: 60px 0 60px;
}

.slide.bulleted ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide.bulleted ul.column-1of2 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-left: 25%;
}

.slide.bulleted ul.column-2of2 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 10%;
}

.slide.bulleted ul.column-1of3 {
  font-size: 18px;
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 10%;
}

.slide.bulleted ul.column-2of3 {
  font-size: 18px;
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 10%;
}

.slide.bulleted ul.column-3of3 {
  font-size: 18px;
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 10%;
}


.slide.bulleted li {
  font-size: 40px;
  line-height: 90px;
  width: 800px;
  margin: 0 auto;
}

.slide.bulleted.narrow li {
  width: 400px;
}

.slide.bulleted.wide li {
  width: 1000px;
}

.slide img {
  display: block;
  height: 50%;
  margin: 0 auto;
}

.slide label.caption {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin-top: 40px;    
}

.slide .center {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-top: -30px;
  line-height: 60px;
  height: 60px;
}

.slide label.sub-center {
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  position: absolute;  
  top:50%;
  width: 100%;
}

.slide label.url {
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  position: absolute;  
  top:-60%;
  width: 100%;
}

.sub-slide {
  position: absolute;
  left: 0;
  bottom: 0;
}

.sub-slide h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin: 60px 0 60px;
  color: #ccc;    
}

.title-screen {
  position: absolute;
  right: 0px;
  width: 100%;
  bottom: 5%;
}

.title-screen h1 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin: 0px 0 100px;
}

.title-screen h2.center {
  position: absolute;
  font-weight: normal;
  text-align: center;
  margin: 0;
  top: -90%;
}

h2.by_line {
  font-size: 34px;
  font-weight: normal;
  margin: 0 6% 0 0;
  padding:0 10% 0 0;
  line-height: 65px;
  text-align: right;
}

h2.logo {
  margin: 0;
  margin: 0 5% 0 0;
  padding:0;
  text-align: right;    
}

h2.logo img {
  height: 100px;
  display: inline;
  margin: 0;
}

h2.top {
  text-align: center;
  padding-top: 0;
  margin-top: 10px;
}

h2.center.quote {
  font-size: 3.5em;
  line-height: 1.5em;
  margin: -10% 10% 0;
}

.img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.caption {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 15%;
  font-size: 40px;
}

.caption.right {
  left: auto;
  right: 5%;
  bottom: 0%;    
}

.caption.dark {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}

.caption.light {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.code-container {
  -webkit-transition: opacity .2s linear;
  position: absolute;
  top: 20%;
  right: 0;
  height: 80%;
  left: 0;
  z-index: 1;
}

.code-container .code {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;        
  font-size: 20px;
}

.editor-container {
  -webkit-transition: opacity .2s linear;
  position: absolute;
  top: 8%;
  right: 50%;
  height: 92%;
  left: 0;
  z-index: 1;
}

.editor-container .editor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;        
  font-size: 20px;
}

.canvas-demo .results {
  position: absolute;
  top: 8%;
  left: 50%;
  width: 50%;
  height: 92%;
  background: #000;
  border: none;
}

.drawing canvas {
  width: 100%;
  height: 100%;
}

